.signup-container{
    background-image: url('shop-open.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    background-blend-mode: darken; 
    
}